<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>汉字英雄热身赛</title>
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>

	<div class="contain">
   	  <div class="datijieshu-1">
        	<div class="datijieshu-1-1">30</div>
            <div class="clear"></div>
        <div class="datijieshu-1-2">100%</div>
        </div>
        <div class="datijieshu-2">
       	  <div class="datijieshu-2-1">230</div>
          <div class="datijieshu-2-2">330</div>
            <div class="clear"></div>
        </div>
      <div class="datijieshu-3">
        	<div class="tuxiang"><img src="images/tu.png"></div>
            <div class="datijieshu-3-test">恭喜您，您在琅琊榜中的角色是言阙，琅琊榜综合排名第9，性情淡泊耿直，手持栉节，随从一百，舌化利刃，一己之力挽救大梁。再接再厉，距离第8名还差一步哦。</div>
            <div class="clear"></div>
        </div>
        <div class="wd360-fb"><img src="images/dtjs_05.jpg" ></div>
      <div class="hanzi-1"><img src="images/dtjs_06.jpg" ></div>
      <div class="hanzi-2"><img src="images/dtjs_07.jpg" ></div>
      <div class="hanzi-3"><img src="images/dtjs_08.jpg" ></div>
      <div class="clear"></div>
      <div class="zlyc">
      	<div class="zlyc-1"><img src="images/zlyc.png" ></div>
        <div class="zlyc-2"><img src="images/tjhy.png" ></div>
        <div class="clear"></div>
      	<div class="choujiang4">再玩 <font color="#FF0000">4</font> 次就能抽奖哦</div>
      	<div class="clear"></div>
      </div>
</div>
    
</body>
</html>
