<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>汉字英雄热身赛</title>
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>

	<div class="contain">
		<div class="ad"><img src="images/datiye480_01.jpg"></div>
    	<div class="fs">
   		    <div class="ad-left">
            	<div class="ad-left-m">10</div>
                <div class="ad-left-f">180</div>
            </div>
            <div class="ad-right"><img src="images/datiye480_03.jpg"></div>
            <div class="clear"></div>
    	</div>
	</div>
    
    <div class="timu">1</div>
    <div class="content">
    	<div class="content-t">“便宜行事”</div>
        <div class="content-m">请选择“便”的正确读音</div>
        <div class="content-an">A.bian</div>
        <div class="content-an">B.pian</div>
        <div class="mb-100"></div>
    </div>

</body>
</html>
