<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>汉字英雄琅琊榜</title>
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>

	<div class="contain">
		<div class="ad">
    	<img src="images/datiye480_01.jpg">
    	</div>
    	<div class="fs">
   		    <div class="ad-left">
            	<div class="ad-left-m">10</div>
                <div class="ad-left-f">180</div>
            </div>
            <div class="ad-right"><img src="images/datiye480_03.jpg"></div>
            <div class="clear"></div>
    	</div>
	</div>
    
    <div class="timu">1</div>
    <div class="content">
    	<div class="content-t">大侠请再接再励</div>
        <div class="content-j">便（bian）宜行事</div>
        <div class="content-x">— — 根据绝世秘籍《成语密码》详解</div>
        <div class="content-x"><img src="images/dtjs.png" width="190" height="57"></div>
        <div class="mb-100"></div>
    </div>

<!--<footer>
	<div class="foot act">
    	<img src="images/foot/ft_1_1.png">
        <p>推荐</p>
    </div>
	<div class="foot">
    	<img src="images/foot/ft_2.png">
        <p>目的地</p>
    </div>
	<div class="foot">
    	<img src="images/foot/ft_3.png">
        <p>帖子</p>
    </div>
	<a href="person/person.html"><div class="foot">
    	<img src="images/foot/ft_4.png">
        <p>我的</p>
    </div></a>
</footer>-->    
    
</body>
</html>
