@charset "utf-8";
/* 格式化页面代码 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { padding: 0px; margin: 0px; font-family:微软雅黑,宋体; font-size:12px;
}
img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
a { blr:expression(this.onFocus=this.close());
} /* 只支持IE，过多使用效率低 */
　 a { blr:expression(this.onFocus=this.blur());
} /* 只支持IE，过多使用效率低 */
　 a:focus { -moz-outline-style: none; } /* IE不支持 */
address, caption, cite, code, dfn, em, th, var { font-weight: normal; font-style: normal; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
qbefore, qafter { content: ''; }
abbr, acronym { border: 0; }
a { font-size: 12px; color: #5f5f5f; text-decoration: none; cursor:pointer; }
a:hover { font-size: 12px; color: rgb(114, 114, 114); text-decoration: none; }
body { background: url(../images/index_6.jpg); font-family:"微软雅黑"}
/*网站头部*/
.header_box{ width:100%; display:block; margin:0 auto; overflow:hidden;background:url(index_1.jpg) repeat-x;}
.header{ position:relative; width:1000px; height:82px; margin:0 auto; display:block; overflow:hidden; }
.header a.logo{ position:absolute;display:inline; width:269px; height:60px; background:url(icon.png) -10px 0 no-repeat; top:12px;left:4px;}
.header cite{ position:absolute;display:inline;top:12px; right:40px;}
.header cite a{ height:17px; line-height:17px;  float:left; display:inline; padding: 0 6px 0 19px; color:#fff;}
.header cite a.a1{background:url(icon.png) -207px -98px no-repeat;}
.header cite a.a2{background:url(icon.png) 0 -93px no-repeat;}
.header cite a.a3{background:url(icon.png) -207px -126px no-repeat;}
.header ul{ float:right; margin:42px 34px 0 0; display:block;}
.header ul > li{ float:left; display:inline; }
.header ul > li a{float:left; display:inline; height:29px; line-height:29px; padding:0 13px; font-size:14px; color:#fff; font-family:"微软雅黑";}
.header ul > li a:hover,
.header ul > li a.ahover
{background:url(index_2.jpg) repeat-x; height:27px; line-height:27px;
padding:0 12px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border:1px #1e9149  solid;}
/*尾部*/
.footer_box{ width:100%; background:url(index_3.jpg) repeat-x; height:172px; overflow:hidden; margin:0 auto;}
.footer{ position:relative; width:1000px; margin:0 auto; display:block;  overflow:hidden; height:172px;}
.footer a.logo{ width:237px; height:61px; float:left; display:inline; background:url(icon.png) -287px 0 no-repeat; margin:34px 0 0 67px;}
.footer .ewm{ float:left; display:inline; margin:20px 0 0 56px ;width: 120px; height:120px;}
.footer .fge{ width:1px; height: 86px; float:left; display:inline; margin: 41px 0px 0 44px; }
.footer cite{ line-height: 27px; font-size:12px;float:left; display:inline; width:700px; height: 86px; margin: 39px 0 0 34px; color:#000;}
.footer cite a { color:#000;}
.footer span{ position:absolute; width:100%;  display:block; top:120px; text-align:center; color:#fff; font-size:12px;}
/*后台容器结构*/
.content { display: block; margin:10px auto ; width: 1000px; overflow: hidden; }
.content .user_left{ float:left; display:inline; width:218px; border:1px #ddd solid; border-top:none; background:#ffffff;min-height:400px;}
.content .user_left .fge{ float:left; display:block; width:220px; margin:0 0 0 -1px;}
.content .user_left img.user{ margin:20px auto 0; display:block; padding:4px; border:1px #c4c4c4 solid; box-shadow:0 0  4px #c4c4c4 ;-moz-box-shadow:0 0  4px #c4c4c4 ;-webkit-box-shadow:0 0 4px #c4c4c4 ;}
.content .user_left .title{ color:#1e8c47; font-size:12px; display:block; margin:0 auto; padding:0 0 15px 0; overflow:hidden; text-align:center; line-height:26px; font-weight:bold; background:url(../images/index_21.jpg) bottom no-repeat; } 
.vip_cyc0,
.vip_cyc1,
.vip_cyc2,
.vip_cyc3,
.vip_cyc4,
.vip_cyc5,
.vip_cyc6{ margin:0 0 0 10px;}
.vip_cyc_0{ width:37px; height:14px;display:inline-block;background:url(vip.png) -15px -14px no-repeat; border:none;}
.vip_cyc1{ width:37px; height:14px;display:inline-block;background:url(vip.png) -15px -28px no-repeat; border:none;}
.vip_cyc2{ width:37px; height:14px;display:inline-block;background:url(vip.png) -15px -42px no-repeat; border:none;}
.vip_cyc3{ width:37px; height:14px;display:inline-block;background:url(vip.png) -15px -56px no-repeat; border:none;}
.vip_cyc4{ width:37px; height:14px;display:inline-block;background:url(vip.png) -15px -60px no-repeat; border:none;}
.vip_cyc5{ width:37px; height:14px;display:inline-block;background:url(vip.png) -15px -74px no-repeat; border:none;}
.vip_cyc6{ width:37px; height:14px;display:inline-block;background:url(vip.png) -15px -88px no-repeat; border:none;}
.content .user_left > ul{ display:block;  margin:0 auto; width:193px; overflow:hidden;}
.content .user_left > ul li{ line-height:44px; height:44px;background:url(icon1.png) no-repeat; text-indent:46px;}
.content .user_left > ul li.a1{ background-position:-44px -220px;}
.content .user_left > ul li.a2{ background-position:-44px -260px;}
.content .user_left > ul li.a3{ background-position:-44px -300px;}
.content .user_left > ul li:hover a{ color:#fff;}
.content .user_left > ul li.a1:hover{ background-position:-237px -220px;;background-color:#22a854;}
.content .user_left > ul li.a2:hover{ background-position:-237px -260px;background-color:#22a854;}
.content .user_left > ul li.a3:hover{ background-position:-237px -300px;background-color:#22a854;}
.content .menu { background: #e1e1e1; float: left; display: inline; width: 220px; overflow: hidden; }
.content .main { float: left; display: inline; width: 765px; margin: 0 0 0 15px; overflow: hidden; position:relative; }
.content .menu > dl { float: left; display: block; width: 100%; overflow: hidden; margin: 5px 0 0 0; }
.content .menu > dl dt { float: left; display: block; width: 100%; background: url(ht_menubj1.jpg) repeat-y; height: 45px; }
.content .menu > dl dt.add { background-image: url(ht_menubj2.jpg)!important; }
.content .menu > dl dt.add a { color: #fff !important; }
.content .menu > dl dt.add em { background-position-x: -16px!important; }
.content .menu > dl dt em { float: left; display: inline; width: 15px; height: 16px; margin: 15px 20px 0 20px; background: url(icon.png) 0 -141px no-repeat; }
.content .menu > dl dt a { width: 140px; height: 20px; margin: 15px 0 0 0; float: left; display: inline; font-size: 14px; text-indent: 22px; color: #727272; text-decoration: none; }
.content .menu > dl dt b { width: 8px; height: 8px; float: left; display: inline; margin: 18px 0 0 0; background: url(ht_menujt2.gif) no-repeat; }
.content .menu > dl dd { position: relative; float: left; display:block; width: 218px; overflow: hidden; height: 40px; background: url(ht_menubj3.jpg) #fff left bottom no-repeat; border-left: 1px #dedede solid; border-right: 1px #dedede solid; line-height: 37px; text-indent: 78px; color: #505050; text-align: left; font-size: 12px; }
.content .menu > dl div.ok{ display:none;}
.content .menu > dl dt.add + div.ok{ display:block;}
.content .menu > dl dt.add b{ background-image:url(ht_menujt3.gif);}
.content .menu > dl dd b { position: absolute; width: 4px; height: 4px; background: url(ht_menubj4.jpg) no-repeat; right: 17px; top: 16px; }
.content .menu > dl img.fg { width: 100%; float: left; display: block !important; }
.content .menu > dl dt.a2 em { background-position: 0 -157px; }
.content .menu > dl dt.a3 em { background-position: 0 -172px; }
.content .menu > dl dt.a4 em { background-position: 0 -189px; }
.content .menu > dl dt.a5 em { background-position: 0 -205px; }
.content .main h3.h31 { width: 100%; line-height: 40px; color: #737373; font-size: 12px; text-indent: 25px; float: left; display: block; background: #e1e1e1; }
.content .main h3.h31 em { display: inline-table; width: 17px; height: 15px; background: url(icon.png) -15px -255px no-repeat; }
.content .main .jshao { margin: 15px 0 0 0; background: url(ht_mainmid.jpg); width: 100%; float: left; display: block; }
.content .main .jshao div { padding: 20px 26px; line-height: 26px; font-size: 12px; margin: 5px; width: 703px; float: left; display: block; background: #fff; }
.content .main .jshao div em { color: #ff5a00; }
/*面包屑*/
.content .main .img_sc { margin: 0px; background: url(ht_mainmid.jpg); width: 100%; float: left; display: block; height: 67px }
.content .main .img_sc div { overflow: hidden; padding: 0px; line-height: 26px; font-size: 12px; margin: 5px; width: 754px; float: left; display: block; background: #fff; height: 56px; }
.content .main .img_sc div em { float: left; display: inline; margin: 15px 0 15px 25px; width: 31px; height: 26px; background: url(icon.png) 0 -298px no-repeat }
.content .main .img_sc em.ggzh { background-position: 0 -327px; }
.content .main .img_sc div > a { float: left; display: inline; font-size: 26px; font-family: "微软雅黑"; margin: 15px 0 0 10px; }
.content .main .img_sc div > strong{ font-family: "微软雅黑";float: right;display: inline;line-height: 14px;height: 14px;color: #000;margin: 24px 10px 0 0; font-weight:normal;}
.content .main .img_sc div > strong a{ margin:0 5px;}
.main_sc { float: left; display: block; width: 765px; margin: 10px 0 0 0;}
.main_xc { float: left; display: block; width: 763px; min-height:800px; margin: 10px 0 0 0; background: #fff; border: 1px #ddd solid; border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; font-size: 12px; color: #000; font-family: "微软雅黑"; padding: 22px 0 0 0;}
.main_box { float: left; display: block; width: 763px;min-height:600px; margin: 10px 0 0 0; border: 1px #ddd solid; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background: #fff; position: relative; padding:0 0 10px  0; }
.main_box1{ width:743px; padding:10px;}
/*按钮样式*/
.btn_cyc{ padding: 6px 12px; background: #22a854; color: #fff; font-weight: bold; font-size: 12px; margin: 0 2px 0 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; line-height: 3.4em; -webkit-box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3); box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3); line-height:20px;}
.input_cyc,.date{ border:1px #ddd solid; width:150px; display:inline;float:left; height:28px; line-height:28px; padding:0 10px; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.input_cyc1{ width:80px;}
.input_cyc2{ width:260px;}

.checkbox_cyc{ border:2px #ddd solid;}
.input_cyc_maqh{ border:1px #ddd solid; width:180px; display:inline;float:left; height:28px; line-height:28px; padding:0 10px; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; color:#999999;}
.btn {position: relative;padding: 4px 12px;margin: 0;color: #333;text-shadow: 0 1px 0 #fff;white-space: nowrap;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 12px;
text-align: center;vertical-align: middle;
-webkit-background-clip: padding;-moz-background-clip: padding;background-clip: padding;background-color: #f3f3f3;background-repeat: repeat-x;border: 1px solid #dcdcdc;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);}
input[type="button"],input[type="submit"],button{ cursor:pointer;}
/*通用图片上传*/
b.default-tip{ width: 257px;color: #AAAAAA;font-size: 22px;line-height: 160px;background-color: #ECECEC;display: block;text-align: center;text-shadow: 0 1px 0 #FFFFFF;height: inherit;}
.controls  object[type="application/x-shockwave-flash"]{float:left}
.up_list{display: block;position: relative;width: 100%;margin: 10px 0 0 0;}
.up_list li{float: left;display: inline;width: 124px;height: 142px;margin-right: 12px;font-size: 12px;position: relative;}
.up_list li img{ display: block;width: 110px;height: 80px;padding: 6px;border: #d3d3d3 1px solid;background-color: #f6f6f6;}
.up_list li textarea {width: 118px;height: 20px;margin-top: 0;margin-top: 0\0;_margin-top: -1px;border: #d3d3d3 1px solid;border-top: none;display: block;overflow: hidden;padding: 0 2px;}
.up_list li .del{ background:url(../images/close111.png) no-repeat; width:14px; height:14px; position:absolute; right:-2px; top:-2px;}

.imgShow{ max-width:250px;max-height:300px;float: left; margin:0 5px 0 0;}
/*弹窗*/
.tcy1_hdp{top: -200%;left:88px;z-index: 2;width: 560px; position:absolute; background:#fff; border:1px solid #999;-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
box-shadow: 0 3px 7px rgba(0,0,0,0.3);
border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; 
}
.tcy1_hdp .h31{ width:100%; float:left; display:block; height:30px; line-height:30px; color:#666; border-bottom:1px #dddddd dashed;}
.tcy1_hdp .h32 { width: 100%; float: left; display: block; height: 30px; line-height: 30px; color: #666; border-bottom: 1px #dddddd dashed; text-indent: 5%; font-size: 16px; font-weight: bold; }
.tcy1_hdp .maincyc{ width:90%; display:block; float:left; padding:5%; color:#5f5f5f; font-size:12px;}
.tcy1_hdp .close1 { padding: 0; cursor: pointer; margin: 0 5px 0 0; background: transparent; border: 0; float: right; font-size: 20px; font-weight: bold; line-height: 25px; color: #000; vertical-align: middle; align-items: flex-start; text-align: center; text-shadow: 0 1px 0 #fff; opacity: 0.2; -webkit-appearance: none; }
.icon_png{ width:100%; float:left; display:block; position:relative;}
.icon_png .ic{ display:none; position:absolute; left:0px; top:0px;  height:113px; width:402px;border:1px #ddd solid; z-index:2}

.icon_png .ic{ display:none; position:absolute; left:0px; top:0px;  height: 153px;; width:402px;border:1px #ddd solid;}

.icon_png .ic iframe{ width: 402px;height:183px;}
.iconn em .pagination{ width:100%; height:30px; float:none; display:block; border-left:none; border-right:none;}
.iconn em .pagination a{ padding:2px 12px}
.iconn em .pagination span, .iconn em .pagination a{ border-top:none;border-bottom:none;}
.iconn{ background:#000; width:400px; height: 183px; display:none;}
.iconn > a{ float:left; display:inline; width: 30px;height: 30px; margin:2px; padding:2px;}
.iconn a img{ width: 30px;height: 30px;}
.iconn em{ width:100%; position:absolute; bottom:0px; left:0px; height:30px; text-align:center;}
.iconn em a{ padding:0 5px; line-height:26px; height:26px; border:1px #ddd solid; margin:0 0 0 1px}
.iconn em a.ahover,
.iconn em a:hover
{ background:#22a754; color:#fff;}
.igm_icon{padding: 2px;text-align: center;background: #919191;border: 1px #ddd solid;border-radius: 16px;width:20px; height:20px;float: left;}
.tcy1_hdp .table1 td { padding:0 0 10px 0;}


/*表格布局*/
/*table1 添加新闻通用样式*/
.table1{ margin-top:10px}
.table1 .left { text-align: right; width: 165px;padding-right:10px !important; color: #646263; font-weight: bold; boreder-bottom:1px #d2d2d2 solid;}
.table1 .left1{ vertical-align:top; line-height:30px;}
.table1 .right { width: 577px; }
.table1 .right .input1 { width: 169px; height: 26px;line-height:26px;
padding: 0 5px; float: left; display: inline; border: 1px #c7c7c7 solid; }
.table1 .right em { color: red; float: left; display: inline; margin: 0 5px 0 5px; font-size: 14px; line-height:32px; }
.table1 .right em font{ color: #8F8F8F;}
.table1 .right .input2 { width: 250px; float: left; display: inline; line-height: 26px; height: 26px; padding: 0 5px; border: 1px #c7c7c7 solid; }
.table1 .right .button2 { width: 87px; height: 28px; line-height: 28px; color: #646263; background: #f4f4f4; font-size: 12px; border: 1px #c7c7c7 solid; }
.table1 .right select { border: 1px #ddd solid; width: 150px; line-height: 28px; height: 28px; margin: 0 8px 0 0; padding: 5px; border-radius:5px;-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
.table1 .right > span{ margin:0 0 0 5px;color: #8F8F8F; line-height:30px;}
.table1 .right > span.float{ float:left; display:inline; line-height:30px; height:30px; margin:0 5px 0 0;}
.table1 .right .tarea{ width:373px; max-width:373px; border:1px #ddd solid; float:left; display:inline; padding:5px; border-radius:5px;-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px; line-height:22px; height:66px;}
.table1 td .button1 { width: 70%; display: block; float: left; padding: 0 0 0 175px; }
.table1 td .button1 a { padding: 6px 12px; background: #22a854; color: #fff; font-weight: bold; font-size: 12px; margin: 0 5px 0 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; line-height: 3.4em; -webkit-box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3); box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3); }
.table1 .radio,
.table1 .checkbox,
.table1 .select
{ display:inline-block; vertical-align:middle; margin:0 5px ; zoom:1;}
.table1 .radio,
.table1 .checkbox{ margin-top:-5px}
/*table2 新闻列表通用样式*/
.table2{ width:96%; margin:2% auto; border-left: 1px solid #ddd;border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; }
.table2 td{padding:5px;border-top: 1px dotted #ddd;border-right: 1px solid #ddd;}
.table2 td.break{word-break: break-all;}
.table2 td.space{white-space: nowrap;}
.table2 thead{ width:100%;}
.table2 thead th{ color:#000; font-weight:bold; background:#eee; line-height:22px;padding: 5px;vertical-align: middle;border-right: 1px solid #ddd;}
.table1 tr td .table2 td{padding:5px;border-top: 1px dotted #ddd;border-left: 1px solid #ddd;}
.table2 tr td img{ max-height: 50px;height: auto;max-width:251px;vertical-align: middle;border: 0; margin:0 5px 0 0;}
.table2 input[type="checkbox"]{ display:inline-block; zoom:1; margin: 0 5px; vertical-align:middle;}
.table2 .cz{ width:103px;}
.table2 label{ float:left; display:inline; line-height:30px; margin:0 5px;}
.table2 tr:hover{ background:#f8f8f8}
.table2 select { border: 1px #ddd solid; width: 150px; line-height: 28px; height: 28px; margin: 0 8px 0 0; padding: 5px; border-radius:5px;-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
.table2 span.font{ line-height:30px; float:left; display:inline; margin:0 0 0 5px;}
.table2 .tarea{ border: 1px #c7c7c7 solid;  width:184px; border:1px #ddd solid; float:left; display:inline; padding:5px; border-radius:5px;-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
/*绿色*/.table2 span.green{background: #56af45;margin-right: 3px;line-height: 20px;padding: 0 5px;display: inline;color: #fff;}
.table2 font.green{color: #56af45;}
/*红色*/.table2 span.red{background:red;margin-right: 3px;line-height: 20px;padding: 0 5px;display: inline;color: #fff;}
.table2 font.red{color: red;}
/*灰色*/.table2 span.gray{background:gray;margin-right: 3px;line-height: 20px;padding: 0 5px;display: inline;color: #fff;}
.table2 font.gray{color:gray;}
.table2 .radio{display:inline-block; vertical-align:middle; margin:-4px 5px 0; zoom:1;}
/*地图搜索统一换行*/
.input-append{display: block;overflow: hidden;}
/*微应用*/
.yyong{border: 1px #ddd solid;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;background: #fff;padding:10px; display:block; float:left; width:743px; margin:10px 0 0 0;line-height:26px; font-size:12px;}
.yyong h3{ border-bottom:1px #ddd solid; font-size:14px; font-weight:bold; line-height:30px;}
.yyong p{  margin: 10px 0 0 0; overflow:hidden;}
.yyong p span{ float:left; display:inline; margin:0 5px 0 0;}
.yyong select { border: 1px #ddd solid; width: 150px; line-height: 28px; height: 28px; margin: 0 8px 0 0; padding: 5px; border-radius:5px;-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;vertical-align: middle;}
/*切换*/
.qhuan{ width: 100%;display: block;height: 38px;border-bottom: 1px #ddd solid;}
.qhuan span.float{ float:left; display:inline-block; margin:10px 0; vertical-align:middle;}
.qhuan .input_cyc{ margin:5px;}
.qhuan > a{float: left;display: inline;padding: 0 10px;height: 38px;line-height: 38px;color: #000;border-right: 1px #ddd solid;background: #EEEEEE;}
.qhuan > .ahover{ border-right: 1px #ddd solid;height: 39px;background: #fff;}
.qhuanx{ display:none; overflow:hidden; width:100%;}
/*内页子目录*/
.h323{ width:96%; display:block; margin:10px auto; line-height:30px; height:30px; }
.h323 .select
 { border: 1px #ddd solid; width: 100px; line-height: 30px; height: 30px; vertical-align: middle;margin: 0 8px 0 0; padding: 5px; border-radius:5px;-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
.h323 .input_cyc{ margin:0 8px 0 0 ; float:none;}
.table1 .right > span{ margin:0 0 0 5px;color: #8F8F8F;}
.h323 > span{ margin: 0 0 0 5px;}
.h323 .red{ color:red}
.h323 > .btn{ margin:0 5px 0 0;}
/*分页*/
.pagination{ border:1px #ddd  solid; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; display:inline; float:left; box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); text-align:center; margin:0 0 0 2%;}
.pagination span.page-this{ background:#f5f5f5; font-weight:bold;}
.pagination span.page-start{ background:#fff;font-size:14px;}
.pagination a.page-next{background:#fff; font-size:14px;}
.pagination span,
.pagination a
{float: left;padding: 4px 12px;line-height: 20px;text-decoration: none;background-color: #ffffff;border: 1px solid #dddddd;border-left-width: 0;color: #999999;background-color: transparent;cursor: default; background:#fff; cursor:pointer;}
.pagination span{ background:#e1e1e1; font-weight:bold;}

/*结构定位通用*/
.div_block{ width:100%; display:block; height:26px; line-height:26px;}/*单独一行*/
.div1_block{ width:100%; display:block; overflow:hidden; }/*单独一行*/
.font_left{ float:left; display:inline;height:26px; line-height:26px;}/*文字定位*/
#lng{ margin:5px; width:100%; display:block; height:26px; line-height:26px;border:1px #ddd solid; width:150px; display:inline;float:left; height:28px; line-height:28px; padding:0 10px; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#lat{ margin:5px; float:left; display:inline;height:26px; line-height:26px;border:1px #ddd solid; width:150px; display:inline;float:left; height:28px; line-height:28px; padding:0 10px; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
/*应用的单选框列表*/
.yyong_radio{ display:block; overflow:hidden;}
.yyong_radio li{ line-height: 26px;display: inline;float: left;width: 25%;height: 26px;overflow: hidden;}
.display-no{ display:none;}
.display-yes{ display:block;}
/*黄色公告*/
.Introduction1{-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);display: block;margin: 2% auto 0;padding: 10px 2%;width: 92%;border: 1px solid #f0c36d;background: #f9edbe;font-size: 12px;line-height: 30px;font-family: "微软雅黑";color: #646263;}
/*提示窗*/
.alert_msg {position: fixed !important;left: 0px !important;right: 0px !important;top: -1000px ;bottom: 0px !important;z-index: 1100 !important;margin: auto !important; display:block; opacity:0; -webkit-animation:cycx1 3s;-moz-animation:cycx1 3s;animation:cycx1 3s;}
/*在线客服*/
.qqkf{ position:fixed; right:-130px;top:89px; width:130px;z-index:1000;  opacity:0;}
.qqkf .han{ display:block; margin:0 auto; }
.qqkf .close{ float:right; margin:0 13px 0 0; width:13px; height:15px; display:block;}
.qqkf .top{ width:100%; display:block; margin:0 auto; background:url(../images/qqfk_3.png) no-repeat; height:189px;}
.qqkf .down{ width:100%; display:block; margin:0 auto; padding:0 0 7px 0; overflow:hidden;background:url(../images/qqfk_4.png) bottom no-repeat;} 
.qqkf .down a { width:114px; height:27px; background:url(../images/qqkf_5.png) no-repeat; display:block; margin:7px auto 0; text-indent:38px; font-size:14px; color:#fff; line-height:27px;} 
/*后台右侧iframe里面的样式*/
.iframe_body{ background:#fff; overflow:hidden; min-height:600px;}
.tchuan{ z-index:5;}
/*编辑修改图标通用*/
.norightborder i,/*活动样式*/
.icon_btn_cyc i   /*通用*/
 { height: 30px; line-height: 30px; display: inline-block; background-image:url(pic_maqh.gif); background-repeat:no-repeat;width: 33px;vertical-align: middle;}
.icon_btn_cyc{white-space:nowrap;}
.icon_btn_cyc > a{ margin:0 5px 0 0;}
/*SN码*/.icon-cog {width: 50px !important;}         
/*查看*/.icon-look { background-position:-33px -90px;}
/*编辑*/.icon-edit { background-position:0px -30px;}
/*开始*/.icon-start { background-position: 0px -150px;}
/*钱*/.icon-qian { background-position: -33px -150px;}
/*禁止*/.icon-no { background-position: -33px -60px;}
/*暂停1*/.icon-stop { background-position: 0px -60px;}
/*暂停2*/.icon-stop1{ background-position: 0px -180px;}
/*领取*/.icon-lwu{ background-position: -33px -180px;}
/*删除*/.icon-remove {background-position: 0px -90px;}
/*操作*/.icon-do1{ background-position:-33px -210px;}
/*操作1*/.icon-do { background-position: 0px -120px; width: 65px !important;}
/*操作2*/.icon-do2 { background-position: 0px -240px; width: 65px !important;}
/*360全景管理*/.icon-360 { background-position: 0px -270px; width: 81px !important;}
/*微信墙*/.icon-wxq { background-position:-33px -30px;}
/*添加*/.icon-add{background-position:0 -300px;}
/*复制*/.icon-copy{background-position:0 -330px;}
/*放大镜*/.icon-big{background-position:-33px -330px;}
/*喇叭*/.icon-lba{background-position:-33px -300px;}
/*拉黑*/.icon-lhei{background-position:0px -360px;}
/*还原*/.icon-hyuan{background-position:-33px -360px;}
/*题目*/.icon-bti{ background-position:0px -390px}
/*统计图*/.icon-count{ background-position:-33px -390px}
/*审核*/.icon-sh{ background-position:0px -420px}
/*评论*/.icon-say{ background-position:0 -450px;}
/*评论管理*/.icon-saygl{ background-position:-33px -420px;}
/*商户管理*/.icon-plus-sign-alt{ background-position:0 -480px;}
/*商品信息*/.icon-spxx1{ background-position:0 -510px}
/*商户动态*/.icon-spxx2{ background-position:-33px -510px}
/*优惠信息*/.icon-spxx3{ background-position:0 -540px;}
/*评价信息*/.icon-spxx4{ background-position:-33px -540px;}
/*冻结*/.icon-djie{ background-position:-33px -480px;}
/*图片上传*/.icon-img{ background-position:0px -570px;}
/*重置密码*/.icon-password{background-position:-33px -570px;}
/*排行榜*/.icon-trophy{ background-position:0px -600px;}
/*二维码*/.icon-ewm{ background-position:-33px -600px;}


.ul_table2{width: 96%;margin: 2% auto;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;border-top: 1px solid #ddd; overflow:hidden; }
.ul_table2 li{width: 46%;border-bottom: 1px #ddd solid;position: relative;float: left;overflow: hidden; line-height:30px;height: 30px; padding:5px 2%;}
.ul_table2 li:after{content: "";width: 1px;position: absolute;height: 100%;top: 0px;right: 0px;border-left: 1px solid #ddd;}
.ul_table2 li span{ width:30%; float:left;}
.ul_table2 li .select{border: 1px #ddd solid;width: 150px;line-height: 28px;height: 28px;margin: 0 8px 0 0;padding: 5px;border-radius: 5px;
-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;}
@keyframes cyc1x {0%{ opacity:1; top: -1000px }10%{ opacity:1;top:0px }90%{opacity:1;top:0px} 100%{ opacity:0;top: -1000px}}
@-webkit-keyframes cycx1{0%{ opacity:1; top: -1000px ;}10%{ opacity:1;top:0px }90%{opacity:1;top:0px} 100%{ opacity:0;top: -1000px }}
@-moz-keyframes cycx1 {0%{ opacity:1; top: -1000px }10%{ opacity:1;top:0px }90%{opacity:1;top:0px} 100%{ opacity:0;top: -1000px }}