<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    body{ margin:0 20px;font:14px/180% '微软雅黑 ', '微软雅黑';}
    .info-header{border: solid 1px #dddddd; border-bottom: none; width: 830px; height: 35px; margin: 0 auto; line-height: 35px; font-weight:bold; margin-top:50px;}
    .info-main{border: solid 1px #dddddd; padding: 10px; width: 810px;  margin: 0 auto;}
    .info-header span{font-size: 18px; margin-left: 40px;}
    .info-main-coo{border-right: 1px solid #dddddd; height: 200px; line-height: 20px; width: 200px; float: left; margin-bottom: 10px;}
    .info-main-right{ height: 200px; line-height: 20px; width: 200px; float: left; margin-bottom: 10px;}
    .info-p{position: relative; left: 70px;}
</style>
<body>

<div class="info-header"><span>昨日关键指标</span></div>
<div class="info-main">
    <div class="info-main-coo">
        <p style="text-align: center; font-size: 15px;">新关注人数</p>
        <p style="text-align: center; color:#5EA60F; font-weight: bold;">1234</p>
        <div class="info-p">
        <p>日&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
        <p>周&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
        <p>月&nbsp<img src="__PUBLIC__/images/up.png">&nbsp33.3%</p>
        </div>
    </div>
    <div class="info-main-coo">
        <p style="text-align: center; font-size: 15px;">取消关注人数</p>
        <p style="text-align: center; color:#5EA60F; font-weight: bold;">1234</p>
        <div class="info-p">
            <p>日&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
            <p>周&nbsp<img src="__PUBLIC__/images/down.png">&nbsp0%</p>
            <p>月&nbsp<img src="__PUBLIC__/images/down.png">&nbsp33.3%</p>
        </div>
    </div>
    <div class="info-main-coo">
        <p style="text-align: center; font-size: 15px;">净增关注人数</p>
        <p style="text-align: center; color:#5EA60F; font-weight: bold;">1234</p>
        <div class="info-p">
            <p>日&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
            <p>周&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
            <p>月&nbsp<img src="__PUBLIC__/images/up.png">&nbsp33.3%</p>
        </div>
    </div>
    <div class="info-main-right">
        <p style="text-align: center; font-size: 15px;">累计关注人数</p>
        <p style="text-align: center; color:#5EA60F; font-weight: bold;">1234</p>
        <div class="info-p">
            <p>日&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
            <p>周&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
            <p>月&nbsp<img src="__PUBLIC__/images/up.png">&nbsp33.3%</p>
        </div>
    </div>

    <hr noshade size="1" color="#dddddd" style="clear: both">
    <div class="info-main-coo">
        <p style="text-align: center; font-size: 15px;">图文页阅读次数</p>
        <p style="text-align: center; color:#5EA60F; font-weight: bold;">1234</p>
        <div class="info-p">
            <p>日&nbsp<img src="__PUBLIC__/images/down.png">&nbsp0%</p>
            <p>周&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
            <p>月&nbsp<img src="__PUBLIC__/images/up.png">&nbsp33.3%</p>
        </div>
    </div>
    <div class="info-main-coo">
        <p style="text-align: center; font-size: 15px;">原文页阅读次数</p>
        <p style="text-align: center; color:#5EA60F; font-weight: bold;">1234</p>
        <div class="info-p">
            <p>日&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
            <p>周&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
            <p>月&nbsp<img src="__PUBLIC__/images/down.png">&nbsp33.3%</p>
        </div>
    </div>
    <div class="info-main-coo">
        <p style="text-align: center; font-size: 15px;">分享转发次数</p>
        <p style="text-align: center; color:#5EA60F; font-weight: bold;">1234</p>
        <div class="info-p">
            <p>日&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
            <p>周&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
            <p>月&nbsp<img src="__PUBLIC__/images/up.png">&nbsp33.3%</p>
        </div>
    </div>
    <div class="info-main-right">
        <p style="text-align: center; font-size: 15px;">微信收藏人数</p>
        <p style="text-align: center; color:#5EA60F; font-weight: bold;">1234</p>
        <div class="info-p">
            <p>日&nbsp<img src="__PUBLIC__/images/up.png">&nbsp0%</p>
            <p>周&nbsp<img src="__PUBLIC__/images/down.png">&nbsp0%</p>
            <p>月&nbsp<img src="__PUBLIC__/images/up.png">&nbsp33.3%</p>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
</body>
</html>